

    <!--
    jndi数据源配置
    修改tomcat: conf/context.xml
    -->


    <Resource name="jdbc/today"
	auth="Container"
	type="javax.sql.DataSource"
	maxActive="100"
	maxIdle="30"
	maxWait="5000"
	username="root"
	password="libowei"
	driverClassName="com.mysql.jdbc.Driver"
	url="jdbc:mysql://localhost:3306/today?useUnicode=true&amp;characterEncoding=utf-8" />

